body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.matriz {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}
.row {
  display: flex;
  flex-direction: row;
}
.square {
  /* margin: 2px; */
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: white;
}
